<app-loading *ngIf="loading === true">
</app-loading>

<article *ngIf="article !== undefined">
 <section id="banner">
  <div class="content">
   <header class="main">
    <h1>{{article.title}}</h1>
    <p>
     Created: {{article.creationDate}}
    </p>
    <p *ngIf="article.creationDate != article.lastUpdate">
     Last Update: {{article.lastUpdate}}
    </p>
    <ul class="icons">
    <li><i class="far fa-folder fa-2x" aria-hidden="true"></i></li>
    <li *ngFor="let tag of article.tag">
     <p><a [routerLink]="['/tags/' + tag.slug]">{{tag.name}}</a></p>
    </li>
   </ul>
  </header>
  </div>
 </section>
<span class="image main">
 <img src="{{article.image}}" alt="{{image_alt}}">
</span>
<main [innerHTML]="content"></main>
</article>