<app-loading *ngIf="loading === true">
</app-loading>

<div *ngIf="articles !== undefined">
 <section id="banner">
  <div class="content">
   <header>
    <h1>Your search for <i>{{searchValue}}</i></h1>
    <h2 *ngIf="articles.length === 0">has produced no results</h2>
   </header>
  </div>
 </section>

 <section>
  <div class="posts">
   <article *ngFor="let article of articles">
    <a routerLink="/{{article.slug}}" class="image"><img src="{{article.image}}" alt="" /></a>
    <h3>{{article.title}}</h3>
    <p>{{article.tagline}}</p>
    <ul class="actions">
     <li><a routerLink="/{{article.slug}}" class="button">Read more</a></li>
    </ul>
   </article>
  </div>
 </section>
</div>
