<div class="loader" *ngIf="loading === true">
 <div class="bar1"></div>
 <div class="bar2"></div>
 <div class="bar3"></div>
 <div class="bar4"></div>
 <div class="bar5"></div>
 <div class="bar6"></div>
 <div class="bar7"></div>
 <div class="bar8"></div>
 <div class="bar9"></div>
</div>

<section *ngIf="articles.length !== 0">
 <header class="major">
  <h2>Articles</h2>
 </header>
 <div class="posts">
  <article *ngFor="let article of articles">
   <a routerLink="{{article.slug}}" class="image"><img src="{{article.image}}" alt="" /></a>
   <h3>{{article.title}}</h3>
   <p>{{article.tagline}}</p>
   <ul class="actions">
    <li><a routerLink="{{article.slug}}" class="button">Read more</a></li>
   </ul>
  </article>
 </div>
 <ul class="actions load-more">
  <li><a class="button primary" [ngClass]="{'disabled': noMoreArticles === true}" (click)="loadMore()">Load more</a></li>
 </ul>
</section>
