<section>
 <header class="major">
  <h2>Articles</h2>
 </header>
 <div class="posts">
  <article *ngFor="let article of articles">
   <a routerLink="{{article.slug}}" class="image"><img src="{{article.image}}" alt="" /></a>
   <h3>{{article.title}}</h3>
   <p>{{article.intro}}</p>
   <ul class="actions">
    <li><a routerLink="{{article.slug}}" class="button">Read more</a></li>
   </ul>
  </article>
 </div>
 <ul class="actions load-more">
  <li><a class="button primary" [ngClass]="{'disabled': noMoreArticles === true}" (click)="loadMore()">Load more</a></li>
 </ul>
</section>
