<section id="banner">
 <div class="content">
  <header>
   <h1>Articles with the <i>{{tag}}</i> tag</h1>
  </header>
 </div>
</section>

<section>
 <div class="posts">
  <article *ngFor="let article of articles">
   <a routerLink="/{{article.slug}}" class="image"><img src="{{article.image}}" alt="" /></a>
   <h3>{{article.title}}</h3>
   <p>{{article.intro}}</p>
   <ul class="actions">
    <li><a routerLink="/{{article.slug}}" class="button">Read more</a></li>
   </ul>
  </article>
 </div>
</section>