<header id="header">
 <span><i>boccarusso.com: an open source website</i></span>
 <ul class="icons">
  <li><a href="https://www.linkedin.com/in/gabrieleboccarusso/" class="icon brands fa fa-linkedin"><span class="label">Linkedin</span></a></li>
  <li><a href="https://dev.to/gabrieleboccarusso" class="icon brands fa-dev"><span class="label">Dev</span></a></li>
  <li><a href="https://github.com/gabrieleboccarusso" class="icon brands fa fa-github"><span class="label">Github</span></a></li>
  <li><a href="https://medium.com/@gabrieleboccarusso" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
 </ul>
</header>