<div class="loader" *ngIf="loading === true">
 <div class="bar1"></div>
 <div class="bar2"></div>
 <div class="bar3"></div>
 <div class="bar4"></div>
 <div class="bar5"></div>
 <div class="bar6"></div>
 <div class="bar7"></div>
 <div class="bar8"></div>
 <div class="bar9"></div>
</div>

<div *ngIf="articles !== undefined">
 <section id="banner">
  <div class="content">
   <header>
    <h1>Articles with the <i>{{tag}}</i> tag</h1>
   </header>
  </div>
 </section>

 <section>
  <div class="posts">
   <article *ngFor="let article of articles">
    <a routerLink="/{{article.slug}}" class="image"><img src="{{article.image}}" alt="" /></a>
    <h3>{{article.title}}</h3>
    <p>{{article.tagline}}</p>
    <ul class="actions">
     <li><a routerLink="/{{article.slug}}" class="button">Read more</a></li>
    </ul>
   </article>
  </div>
 </section>
</div>