<section id="banner">
 <div class="content">
  <header>
   <h1>Gabriele Boccarusso</h1>
   <p>Java Software engineer</p>
  </header>
  <p>
   Hi! I'm Gabriele Boccarusso
  </p>
  <p>
   I'm a software developer looking to expand his knowledge in a written shape, You can find my projects on my <a href="https://github.com/gabrieleboccarusso">Github</a> and get in contact with me through my <a href="https://www.linkedin.com/in/gabrieleboccarusso/">Linkedin</a>
  </p>
  <p>
   The main content of this website will be related to programming ang general computer science topics. I'm currently diving deeper in Databases, Microservices, Scalability and Software Architecture.
  </p>
  <p>
   My main stack is Java with Spring Boot for the backend and Typescript with Angular for the frontend. Those are also the technologies with whom I've built this website.
  </p>
  <!--
   <ul class="actions">
    <li><a href="#" class="button big">Link to online resume?</a></li>
   </ul>
  -->
 </div>
 <span class="image object">
  <img [src]="pfp_src" [alt]="pfp_alt" />
 </span>
</section>