<section>
 <header class="major">
  <h2>Main Skills</h2>
 </header>
 <div class="features">
  <article>
   <span class="icon solid fas fa-server"></span>
   <div class="content">
    <h3>Backend development</h3>
   </div>
  </article>
  <article>
   <span class="icon solid fas fa-database"></span>
   <div class="content">
    <h3>Databases</h3>
   </div>
  </article>
  <article>
   <span class="icon solid fas fa-layer-group"></span>
   <div class="content">
    <h3>Microservices</h3>
   </div>
  </article>
  <article>
   <span class="icon solid  	fas fa-project-diagram"></span>
   <div class="content">
    <h3>Software architecture</h3>
   </div>
  </article>
 </div>
</section>
